/* mousewheel.css */

body, html{width: 100%;height: 100%;}
/*resume*/
#resume{width: 100%; height: 100%; background-color: #fdf;}
	#gnb{width:14rem; height: 100%; position: fixed; top: 0; left: 0; z-index: 1000;
        background-color: #000; padding:2rem;transition:0.5s;}
	#gnb>ul{width: 100%; height: auto;margin-top: 150%; padding-left: 10%;z-index: 1000;}
	#gnb>ul>li{width: 100%; height: 100%;text-align: right;overflow: hidden; margin-bottom:2rem; position: relative;}
/*    #gnb>ul>li>a{display:block; width:100%; height:100%; position: relative}*/

#gnb>ul>li>a>span:focus,
#gnb>ul>li>a>span:hover{color:#fc0;}

#gnb>ul>li i:hover,
#gnb>ul>li i:focus{color: #fc0;}
#gnb>ul>li:hover{color: #fc0;}

#gnb>ul>li:last-child{margin-bottom: 0;}
#gnb>ul>li i{width: 3rem; height: 3rem;margin-bottom: -3%;
		display: block;float: right; color: #fff;
		margin-right: 10%;}
#gnb>ul>li span{width: 10px;display: block;
		float: left;font-size: 1.2rem;padding-top: 3%;position: absolute;right: 5; top:0;text-align: right;
		color:#fff; font-weight: bold;}

.fa-user{width: 28px;padding-right: 1%;}
.fa-file{width: 30px;}
.fa-mobile{width: 25px;padding-right: 5px;}
/*.fa-arrow-circle-up{margin-top: 170%;}*/

.top>a{margin-top: 11rem;}

.btn{width:3rem; height:3rem; background:inherit; 
	position:absolute; z-index:100; right:2rem; top:2rem;}
.btn>.button{width:100%; height: 100%; background-color:transparent; position: relative;border: 3px solid #000;}
.button:focus{outline: 0; }

.button>a>i{display: block; width: 1.5rem; height: 1.5rem; color: #fff;
	position: absolute; top: 0.5rem; right: 0.5rem;
	background-repeat:no-repeat; background-position: center;	background-size:contain;}


.button>span{position: absolute; bottom: 1.5rem; right:-0.5rem; overflow: hidden;text-transform: uppercase; line-height: 0.8rem; text-align: left;}

.por01{font-size: 2.5rem;padding-top: 3%; padding-left: 6%	}
.por02{font-size: 1.5rem;padding-left: 6%}

h1{margin-left: 10%;}
h2{margin-left: 10%;}















/*portfolio01*/
#portfolio01{width: 100%; height: 100%; background-color: #aff;}

/*portfolio02*/
#portfolio02{width: 100%; height: 100%; background-color: #faa;}
/*portfolio03*/
#portfolio03{width: 100%; height: 100%; background-color: #f60;}
/*portfolio04*/
#portfolio04{width: 100%; height: 100%; background-color: #06f;}
/*contact*/
#contact{width: 100%; height: 100%; background-color: #ccc;}